header {
    display: flex;
    padding: 0 20px;
    height: 80px;
    min-height: 80px;
    background-color: #FF7043;
    justify-content: space-between;
    align-items: center;
}

#headerBranding {
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}

nav{
    display: flex;
    align-items: center;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, padding 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

nav a:hover {
    background-color: white;
    color: #FF7043;
    padding: 5px 10px;
}

nav a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Media Queries for Mobile Screens */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px;
    }
    #headerBranding{
        margin-bottom: 10px;
    }

    nav a{
        margin: 5px;
        width: 100%;
    }
}
