header {
    display: flex;
    padding: 0 20px;
    height: 80px;
    min-height: 80px;
    background-color: #FF7043;
    justify-content: space-between;
    align-items: center;  
    width: 100%;
    box-sizing:border-box;
    flex-wrap: wrap;
}

#headerBranding {
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, padding 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

nav a:hover {
    background-color: white;
    color: #FF7043;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hamburger {
    display: none;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

/* Media Queries for Mobile Screens */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px 20px;
    }
    #headerBranding{
        margin-bottom: 15px;
        font-size: 20px;
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav.open {
        display: flex;
    }

    nav a{
        margin: 5px;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .hamburger {
        display: block;
    }

}
